body {
  padding: 50px;
  font: 14px "Assistant", sans-serif;
}

a {
  color: #a00;
}
.links a {
  padding: 6px 22px;
  border: 1px solid #000;
  color: #d00;
  margin: 13px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
}

.mid {
  margin-top: 1vh;
  padding: 10px;
  line-height: 26px;
}
.mid h3 {
  font-weight: normal;
  color: #333;
  font: 17px "Assistant", sans-serif;
  margin-bottom: 6px;
}
.mid a {
  text-decoration: none;
}
#bottom {
  position: absolute;
  bottom: 10%;
}